form {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    box-shadow: 0px 0px 20px 5px rgba(0,0,0,.2);
    padding: 20px;
    border-radius: 10px;
    min-width: 300px;
}

form > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

form > :nth-child(3) > input {
    margin-top: 7px;
}