body {
    margin: 0 !important;
    overflow: hidden;
}

table {
    border-spacing: 0px;
}

.return {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1;
    opacity: .2;
}

.return:hover {
    opacity: 1;
}

.background {
    background-size: cover;
    height: calc(100vh / 2);
    width: calc(100% / 4);
    filter: grayscale(1);
    background-position-x: left;
    transition: ease all .4s;
    text-align: center;
    color: transparent;
    font-size: 3em;
    font-weight: 900;
    user-select: none;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0);
}

.background:hover {
    filter: grayscale(0);
    background-position-x: center;
    color: white;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, .2);
}

/*
    Cambio de sentido de transición.
    Mejora la experiencia al coincidir con las imágenes contiguas.
*/

#cordoba, #seattle, #paris, #berlin {
    background-position-x: right;
}

#cordoba:hover, #seattle:hover, #paris:hover, #berlin:hover {
    background-position-x: center;
}

#florencia {
    background-image: url('./assets/florencia.jpeg');
}

#cordoba {
    background-image: url('./assets/cordoba.jpeg');
}

#mykonos {
    background-image: url('./assets/mykonos.jpeg');
}

#seattle {
    background-image: url('./assets/seattle.jpeg');
}

#paris {
    background-image: url('./assets/paris.jpeg');
}

#kioto {
    background-image: url('./assets/kioto.jpeg');
}

#viena {
    background-image: url('./assets/viena.jpeg');
}

#berlin {
    background-image: url('./assets/berlin.jpeg');
}