<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="./styles.css">
    <title>Document</title>
</head>
<body>
    <header>
        <h1>Tour</h1>
    </header>
    <nav>
        <section>
            <aside>
                <h1>Aside</h1>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque, praesentium. Modi veniam excepturi ab similique alias quasi mollitia cupiditate sapiente aperiam, nobis ex cumque nulla. Fugiat repudiandae mollitia animi suscipit!
            </aside>
            <div id="imgs">
                <div class="background" id="florencia"></div>
                <div class="background" id="cordoba"></div>
                <div class="background" id="mykonos"></div>
                <div class="background" id="seattle"></div>
                <div class="background" id="kioto"></div>
                <div class="background" id="paris"></div>
                <div class="background" id="viena"></div>
                <div class="background" id="berlin"></div>
            </div>
        </section>
    </nav>
</body>
</html>